In [139]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import statsmodels.api as sm
import json
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from  sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing

In [172]:
data = pd.read_csv('knn-data-cleaned.csv')

In [173]:
data

,CASE NUMBER,YEAR,MONTH,HOUR,RACE ID,RACE,CHARGE 1 STATUTE,CHARGE 1 DESCRIPTION,CHARGE 1 Type,raw charge 1 type,CHARGE 1 CLASS TYPE,raw charge class,concat,COUNT,Latitude,Longitude
0,NaN,2014,6,22,0,BLACK,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,0,O,0,Z,0,1,NaN,NaN
1,NaN,2014,6,0,0,BLACK,625 ILCS 5.0/6-303-A,DRIVING ON SUSPENDED LICENSE,1,M,1,A,11,1,NaN,NaN
2,HX290868,2014,6,11,0,BLACK,720 ILCS 570.0/402-C,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)(D),2,F,12,4,212,2,41.877464,-87.763012
3,HX302763,2014,6,4,0,BLACK,720 ILCS 5.0/12-3-A-1,BATTERY - CAUSE BODILY HARM,1,M,1,A,11,3,41.885393,-87.663548
4,NaN,2014,6,8,0,BLACK,8-4-030,DRINKING ALCOHOL ON THE PUBLIC WAY,0,O,8,L,8,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571140,JF425939,2022,10,17,0,BLACK,720 ILCS 5.0/12-3.2-A-1,DOMESTIC BATTERY/BODILY HARM,1,M,1,A,11,1,NaN,NaN
571141,NaN,2022,10,9,1,WHITE HISPANIC,725 ILCS 225.0/13,FUGITIVE FROM JUSTICE - OUT OF STATE WARRANT,0,O,0,Z,0,1,NaN,NaN
571142,JF426166,2022,10,21,0,BLACK,720 ILCS 5.0/24-1.6-A-1,AGG UUW/VEHICLE/LOADED/NO FCCA,2,F,12,4,212,3,NaN,NaN
571143,JF426400,2022,10,19,1,WHITE HISPANIC,720 ILCS 5.0/24-1.6-A-1,AGG UUW/VEHICLE/NO FOID,2,F,12,4,212,4,NaN,NaN
571144,JF426207,2022,10,22,0,BLACK,720 ILCS 570.0/402-C,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)(D),2,F,12,4,212,1,NaN,NaN

In [174]:
f_array = []
for row in data['CHARGE 1 Type']:
    if row == 2:
        f_array.append(1)
    else:
        f_array.append(0)
data['Felony/Not Felony'] = f_array

In [175]:
data

,CASE NUMBER,YEAR,MONTH,HOUR,RACE ID,RACE,CHARGE 1 STATUTE,CHARGE 1 DESCRIPTION,CHARGE 1 Type,raw charge 1 type,CHARGE 1 CLASS TYPE,raw charge class,concat,COUNT,Latitude,Longitude,Felony/Not Felony
0,NaN,2014,6,22,0,BLACK,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,0,O,0,Z,0,1,NaN,NaN,0
1,NaN,2014,6,0,0,BLACK,625 ILCS 5.0/6-303-A,DRIVING ON SUSPENDED LICENSE,1,M,1,A,11,1,NaN,NaN,0
2,HX290868,2014,6,11,0,BLACK,720 ILCS 570.0/402-C,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)(D),2,F,12,4,212,2,41.877464,-87.763012,1
3,HX302763,2014,6,4,0,BLACK,720 ILCS 5.0/12-3-A-1,BATTERY - CAUSE BODILY HARM,1,M,1,A,11,3,41.885393,-87.663548,0
4,NaN,2014,6,8,0,BLACK,8-4-030,DRINKING ALCOHOL ON THE PUBLIC WAY,0,O,8,L,8,1,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571140,JF425939,2022,10,17,0,BLACK,720 ILCS 5.0/12-3.2-A-1,DOMESTIC BATTERY/BODILY HARM,1,M,1,A,11,1,NaN,NaN,0
571141,NaN,2022,10,9,1,WHITE HISPANIC,725 ILCS 225.0/13,FUGITIVE FROM JUSTICE - OUT OF STATE WARRANT,0,O,0,Z,0,1,NaN,NaN,0
571142,JF426166,2022,10,21,0,BLACK,720 ILCS 5.0/24-1.6-A-1,AGG UUW/VEHICLE/LOADED/NO FCCA,2,F,12,4,212,3,NaN,NaN,1
571143,JF426400,2022,10,19,1,WHITE HISPANIC,720 ILCS 5.0/24-1.6-A-1,AGG UUW/VEHICLE/NO FOID,2,F,12,4,212,4,NaN,NaN,1
571144,JF426207,2022,10,22,0,BLACK,720 ILCS 570.0/402-C,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)(D),2,F,12,4,212,1,NaN,NaN,1

In [189]:
data = data.dropna()

In [277]:
x = data[['HOUR','RACE ID','COUNT','Latitude', 'Longitude']]
y = data[['CHARGE 1 Type']]

In [278]:
# scaler = preprocessing.StandardScaler()
# scaler.fit(x)
# x_scaled = scaler.transform(x)

In [279]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42 )

In [280]:
x_train

        HOUR  RACE ID  COUNT   Latitude  Longitude
148639    18        0      1  41.853931 -87.623841
12266      2        2      2  41.889055 -87.641900
543147     7        0      1  41.864494 -87.639158
188061    19        1      1  41.691855 -87.538170
18287      2        0      1  41.735034 -87.545782
...      ...      ...    ...        ...        ...
10619     19        0      1  41.777171 -87.701422
169616    15        0      1  41.676019 -87.639701
429605    20        0      1  41.692190 -87.608402
1438      12        0      1  41.874381 -87.723641
27034      3        1      1  41.802152 -87.742701

[81682 rows x 5 columns]

In [281]:
x_test

        HOUR  RACE ID  COUNT   Latitude  Longitude
183194    22        0      1  41.753885 -87.672543
179956     2        0      2  41.903936 -87.629088
543703    20        0      1  41.881047 -87.699349
568909    19        0      1  41.859850 -87.726206
34782     16        0      1  41.830677 -87.610353
...      ...      ...    ...        ...        ...
21609     13        2      1  41.998600 -87.697234
123        0        1      1  41.815635 -87.643296
21422     10        0      1  41.749445 -87.605885
562092    21        0      1  41.769225 -87.621395
154740    19        0      1  41.872326 -87.725397

[20421 rows x 5 columns]

In [282]:
# accuracy = []

# for i in range(1,12):
#     knn = KNeighborsClassifier(n_neighbors=i)
#     knn.fit(x_train,y_train)
#     y_pred = knn.predict(x_train)
    
#     length = len(y_pred)
#     correct = 0
#     concat = np.array(y_train['CHARGE 1 CLASS TYPE'])

#     for y in range(length):
#         if concat[y] == y_pred[y]:
#             correct += 1

#     score = correct/length
#     accuracy.append(score)
# accuracy

In [283]:
knn = KNeighborsClassifier(n_neighbors=5)

In [284]:
knn.fit(x_train,y_train)

/Users/edwardwoo/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [285]:
y_pred = knn.predict(x_test)

In [286]:
y_test

        CHARGE 1 Type
183194              2
179956              1
543703              1
568909              2
34782               2
...               ...
21609               1
123                 2
21422               1
562092              1
154740              2

[20421 rows x 1 columns]

In [287]:
length = len(y_pred)
correct = 0
concat = np.array(y_test['CHARGE 1 Type'])

for y in range(length):
    if concat[y] == y_pred[y]:
        correct += 1

score = correct/length

In [288]:
print("This is the score: " + str(round((score*100),2))+'%')

This is the score: 63.89%

### Logistic Regression

In [289]:
x = data[['HOUR','RACE ID','COUNT','Latitude','Longitude']]
y = data[['Felony/Not Felony']]
#y = data[['CHARGE 1 Type']]

In [290]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [291]:
x_train, y_train

(        HOUR  RACE ID  COUNT   Latitude  Longitude
 148639    18        0      1  41.853931 -87.623841
 12266      2        2      2  41.889055 -87.641900
 543147     7        0      1  41.864494 -87.639158
 188061    19        1      1  41.691855 -87.538170
 18287      2        0      1  41.735034 -87.545782
 ...      ...      ...    ...        ...        ...
 10619     19        0      1  41.777171 -87.701422
 169616    15        0      1  41.676019 -87.639701
 429605    20        0      1  41.692190 -87.608402
 1438      12        0      1  41.874381 -87.723641
 27034      3        1      1  41.802152 -87.742701

 [81682 rows x 5 columns],
         Felony/Not Felony
 148639                  0
 12266                   0
 543147                  0
 188061                  0
 18287                   1
 ...                   ...
 10619                   0
 169616                  0
 429605                  0
 1438                    1
 27034                   0

 [81682 rows x 1 columns])

In [292]:
l_reg = LogisticRegression(random_state=0).fit(x_train, y_train)

/Users/edwardwoo/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [293]:
y_predict = l_reg.predict(x_test)

In [294]:
length = len(y_pred)
correct = 0
concat = np.array(y_train['Felony/Not Felony'])

for y in range(length):
    if concat[y] == y_pred[y]:
        correct += 1

score = correct/length

In [295]:
print("This is the score: " + str(round((score*100),2))+'%')

This is the score: 25.2%